.footer{
    position: relative;
    background-image: url(../images/footer.png);
    height: 600px;
    position: relative;
       &::before{
           content: '';
           width: 241px;
           height: 444px;
           background-image: url(../images/map-2.png);
           position: absolute;
           right: 0;
           top: 92px;
       }
    #map{
        width: 690px;
        height: 600px;
        position: absolute;
        left: -105px;
        z-index: 1;
    }
    .footer-inner{
       padding: 40px 0 0 87px;
       h1{
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #423E3E;
        margin-bottom: 28px;
       }
       .contact-inner{
           display: flex;
           align-items: center;
           margin-bottom: 30px;
           .contact-icon{
               margin-right: 16px;
           }
           .contact-info{
               p{
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 24px;
                    color: #423E3E;
               }
               a{
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                color: #423E3E;
               }
               span{
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                color: #423E3E;
               }
           }
       }
       .feedback{
           margin-bottom: 41px;
           height: 50px;
           display: flex;
           align-items: center;
            a{
                padding: 1rem 2.5rem;
                background: #FE7B01;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
       }
       .copyright{
           p{
            font-size: 14px;
            line-height: 24px;
            color: #353535;
           }
       }
    }
}