a:hover{
    text-decoration: none;
}
.btn{
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}
.header{
    padding-top: 22px;
    .header-left-inner{
        display: flex;
        padding-top: 20px;
        .burger-menu{
            margin-right: 50px;
        }
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .header-inner-right{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .basket{
            position: relative;
            span{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #FF7A00;
                position: absolute;
                right: -9px;
                top: -8px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;     
            }
        }
    }
}
.header-inner{
    background-image: url(../images/header-img.png);
    background-position: center;
    height: 80px;
    .header-left-inner{
        display: flex;
        height: 80px;
        align-items: center;
        .burger-menu{
            margin-right: 50px;
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        img{
            width: 62px;
        }
    }
    .header-inner-right{
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        .basket{
            position: relative;
            span{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #FF7A00;
                position: absolute;
                right: -9px;
                top: -8px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;     
            }
        }
    }
}
// .burger-menu {
//     display: none;
// }

.burger-menu-image {
    img {
        position: absolute;
        top: 3%;
        left: 1rem;
    }

    display: none;
}

.burger-menu-btn {
    width: 3rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9;
    position: relative;
    display: none;
}

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #FFB901;
}

.burger-menu-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.burger-menu-lines::after {
    content: "";
    top: -12px;
    transition: all 0.5s ease;
}

.burger-menu-lines::before {
    content: "";
    top: 12px;
    transition: all 0.5s ease;
}

.burger-menu-lines-active .burger-menu-lines {
    background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after {
    top: 0;
    transform: rotate(45deg);
}

.nav-panel-mobil {
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 8;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
}

.nav-panel-mobil {
    nav {
        ul {
            li {
                a{
                    color: #FFB901 !important;
                }
            }

            select {
                width: 64px;
            }
        }
    }
}

.nav-panel-mobil-active {
    transform: translateX(0);
}

@media screen and (max-width:576px){
    .header {
        .header-top{
            height: 90px;
            .header-left{
                
            }
            .header-right{
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0.8rem;
                .help-need{
                    justify-content: space-between;
                    width: 100%;
                }
                .help-need {
                    .modal-dialog {
                        .modal-content {
                            .modal-header {
                                .close{
                                    top: -2rem;
                                }
                            }
                            .modal-body{
                                padding: 0 15px;
                            }
                            .modal-footer{
                                .btn-close{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-links{
        height: 112px;
        .header-link{
            display: none;
        }
    }
    .burger-menu-btn{
        display: block;
        top: 95px;
        right: 1rem;
        position: absolute;
    }
    .nav-panel-mobil {
        nav{
            ul {
                li {
                    a{
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .nav-panel-mobil {
        nav{
            ul {
                li {
                    a{
                        font-size: 30px !important;
                    }
                }
            }
        }
    }
    .header {
        .header-top {
            .header-right{
                justify-content: space-between;
                margin-top: 1rem;
            }
        }

       
    }
    .header-links{
        .header-link{
            display: none;
        }
    }
    .burger-menu-btn{
        display: block;
        z-index: 999;
        position: absolute;
        top: 1.3rem;
        right: 2rem;
    }
    .nav-panel-mobil{
        z-index: 99;
    }
}