.title{
    h1{
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #0E1017;
        margin-bottom: 48px;
    }
    h2{
        font-size: 36px;
        line-height: 42px;
        color: #0E1017;
        font-weight: bold;
        margin-bottom: 40px;
    }
}
.content-page{
    padding: 25px 0 79px 0;
    .breadcrumb{
        background-color: transparent;
        align-items: center;
        border: 1px solid #0E1017;
        box-sizing: border-box;
        border-radius: 6px;
        width: fit-content;
        .breadcrumb-item{
            a{
                font-size: 16px;
                line-height: 20px;
                color: #C7BA9C;
            }
           
        }
        .active{
            color: #0E1017 !important;
            &::before{
                content: '—';
                color: #0E1017 !important;
            }
        }
    }
    .about-image{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
    p{
        font-size: 16px;
        line-height: 30px;
        color: #0E1017;
        margin: 2rem 0;
    }
    .content-inner{
        .whatsapp-num{
            margin-bottom: 60px;
            p{
                margin-bottom: 15px;
                display: flex;
                img{
                    margin-right: 18px;
                }
            }
        }
        h2{
            font-size: 30px;
            line-height: 42px;
            color: #0E1017;
            margin-bottom: 30px;
            font-weight: bold;
        }
        h3{
            font-size: 16px;
            line-height: 30px;
            color: #0E1017;
            font-weight: bold;
        }
        span{
            font-size: 16px;
            line-height: 30px;
            color: #B9BBC0;
        }
        .contact-info{
            display: flex;
            .contact-text{
                span{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0E1017
                }
            }
        }
    }
    .content-images{
        .content-picture{
            img{
                width: 100%;
            }
        }
    }
    .about-text{
        h1{
            font-weight: bold;
            font-size: 36px;
            line-height: 60px;
            color: #0E1017;
            margin: 30px 0;
        }
    }
    .about-wrapper{
        .about-inner{
            .about-top{
                padding: 34px 43px 14px 50px;
                background: #FAF4EE;
                border-radius: 6px;
                position: relative;
                margin-bottom: 30px;
                &::before{
                    content: '';
                    background-image: url(../images/quote.png);
                    width: 84px;
                    height: 84px;
                    position: absolute;
                    top: -32px;
                }
                p{

                }
            }
            .about-info{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                height: 70px;
                .about-left-btn{
                    display: flex;
                    align-items: center;
                    height: 70px;
                    a{
                        padding: 1rem 2.5rem;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 12px rgba(85, 88, 92, 0.1);
                        border-radius: 6px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #0E1017;
                    }
                }
                .about-right-btn{
                    display: flex;
                    align-items: center;
                    height: 70px;
                    a{
                        padding: 1.6rem 2.5rem;
                        background: #FF7A00;
                        border-radius: 6px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.feedback-page{
    background-image: url(../images/feedback-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 72%;
    .questions-inner{
        width: 498px;
        .questions-form{
            p{
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: #0E1017;
                margin-left: 10px;
                margin-bottom: 10px;
            }
            input{
                background: #FFFFFF;
                border: 1px solid #E3E4E8;
                box-sizing: border-box;
                border-radius: 6px;
                height: 60px;
                width: 100%;
            }
            textarea{
                background: #FFFFFF;
                border: 1px solid #E3E4E8;
                box-sizing: border-box;
                border-radius: 6px;
                height: 147px;
                width: 100%;
                resize: none;
                margin-bottom: 30px;
            }
            button{
                background: #FF7A00;
                border-radius: 6px;
                height: 70px;
                width: 100%;
                border: none;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                margin-bottom: 70px;
            }
           
        }
        .request-btn{
            button{
                background: #0E1017;
                border-radius: 6px;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                width: 100%;
                height: 70px;
                border: none;
            }
        }
    }
}