@font-face{
    font-family: Bitter;
    src:url(../font/BitterPro-Regular.otf);
}
body{
    font-family: Bitter;
}
.main-banner{
    background-image: url(../images/main-banner.png);
}


.subtitle{
    h1{
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #3A3C46;
        margin-bottom: 39px;
    }
}
.content-btn{
    height: 70px;
    background: #FE7B01;
    border-radius: 6px;
    a{
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.banner{
    height: 674px;
    background-image: url(../images/banner.png);
    background-size: 100%;
    .banner-content{
        padding-top: 50px;
        .banner-inner{
            h1{
                font-weight: bold;
                font-size: 50px;
                line-height: 60px;
                color: #FFFFFF;
                margin-bottom: 37px;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                width: 77%;
                margin-bottom: 20px;
            }
            .content-btn{
                width: 229px;
            }
        }
    }
}
.main-top{
    background: #FAF4EE;
    .main-tabs{
        .nav-tabs{
            border: none;
            height: 70px;
            .nav-item{
                padding-right: 15px;
            }
            .nav-link{
                border: none;
                background-color: transparent;
                height: 100%;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 20px;
                line-height: 60px;
                color: #000;
                opacity: .5;
                padding-left: 0;
            }
            .active{
                opacity: 1;
            }
        }
    }
}
.card-content{
    height: 460px;
    box-shadow: 0px 2px 12px rgba(85, 88, 92, 0.15);
    border: none;
    margin-bottom: 30px;
    .card-image{
        height: 207px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .card-description{
        .card-description-title{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;
            h1{
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #0E1017;
                width: 150px;
            }
        }
        .about-dish{
            padding-left: 15px;
            p{
                font-size: 16px;
                line-height: 20px;
                color: #B9BBC0;
                margin-bottom: 20px;
                margin-top: 0;
            }
        }
        .about-count{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            .count-dish-col{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border: 1px solid #E3E4E8;
                border-radius: 6px;
                width: 103px;
                input{
                    border: none;
                    max-width: 36px;
                    text-align: center;
                    height: 40px;
                    &::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                span{
                    height: 30px;
                }
            }
            .count-dish{
                p{
                    margin: 0;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0E1017;
                    span{
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0E1017;
                    }
                }
            }
        }
        .card-bottom{
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
            .card-basket{
                button{
                    width: 160px;
                    height: 50px;
                    background: #FF7A00;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    color: #FFFFFF;
                    border: none;
                    img{
                        margin-right: 20px;
                    }
                }
            }
            .favorite-card{
                width: 50px;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 1px 12px rgba(170, 178, 190, 0.35);
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.main-content{
    background-image: url(../images/banner2.png);
    background-size: 100% !important;
    padding: 53px 0 48px;
    background-repeat: no-repeat;
    .card{
        height: 460px;
        box-shadow: 0px 2px 12px rgba(85, 88, 92, 0.15);
        border: none;
        margin-bottom: 30px;
        .card-image{
            height: 207px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .card-description{
            .card-description-title{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 10px;
                h1{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #0E1017;
                    width: 150px;
                }
            }
            .about-dish{
                padding-left: 15px;
                p{
                    font-size: 16px;
                    line-height: 20px;
                    color: #B9BBC0;
                }
            }
            .about-count{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                .count-dish-col{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid #E3E4E8;
                    border-radius: 6px;
                    width: 103px;
                    input{
                        border: none;
                        max-width: 36px;
                        text-align: center;
                        height: 40px;
                        &::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    span{
                        height: 30px;
                    }
                }
                .count-dish{
                    p{
                        margin: 0;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0E1017;
                        span{
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            color: #0E1017;
                        }
                    }
                }
            }
            .card-bottom{
                display: flex;
                justify-content: space-evenly;
                margin-top: 10px;
                .card-basket{
                    button{
                        width: 160px;
                        height: 50px;
                        background: #FF7A00;
                        border-radius: 6px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 21px;
                        color: #FFFFFF;
                        border: none;
                        img{
                            margin-right: 20px;
                        }
                    }
                }
                .favorite-card{
                    width: 50px;
                    height: 50px;
                    background: #FFFFFF;
                    box-shadow: 0px 1px 12px rgba(170, 178, 190, 0.35);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .look-all{
        width: 210px;
        height: 60px;
        margin: 0 auto;
        border: 2px solid #FE7B01;
        border-radius: 6px;
        margin-bottom: 30px;
        a{
            width: 100%;
            height: 56px;
            background-color: #fff;
            border: none;
            font-size: 16px;
            line-height: 24px;
            color: #0E1017;
            display: flex;
            justify-content: center;
            align-items: center;
            &:active{
                background-color: #fff !important;
                color: #0E1017 !important;
            }
        }
    }
}
.about-company{
    background-color: #FAF4EE;
    height: 600px;
    position: relative;
    .about-text{
        padding: 136px 78px 48px 0;
        height: 100%;
        h1{
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            color: #0E1017;
            margin-bottom: 40px;
        }
        p{
            font-size: 16px;
            line-height: 30px;
            color: #747474;
            margin-bottom: 70px;
        }
        a{
            padding:1.4rem 2.35rem;
            background: #FE7B01;
            border-radius: 6px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-top: 40px;
        }
    }
    .about-company-image{
        position: relative;
        img{
            width: 659px;
            height: 600px;
        }
        &::before{
            content: '';
            width: 20px;
            height: 180px;
            background: #FE7B01;
            position: absolute;
            bottom: -90px;
            left: -10px;
            z-index: 2;
        }
    }
    &::before{
        content: '';
        background-image: url(../images/about-left.png);
        position: absolute;
        left: 0;
        top: -44%;
        width: 200px;
        height: 397px;
        object-fit: contain;
    }
    &::after{
        content: '';
        background-image: url(../images/about-right.png);
        position: absolute;
        right: 0;
        top: -23%;
        width: 184px;
        height: 239px;
        object-fit: contain;
    }
}
.favorite-page{
    position: relative;
    padding-bottom: 300px !important;
    &::before{
        content: '';
        width: 113px;
        height: 224px;
        background-image: url(../images/fav-left.png);
        position: absolute;
        right: 0;
        top: 250px;
    }
    &::after{
        content: '';
        width: 111px;
        height: 255px;
        background-image: url(../images/fav-right.png);
        position: absolute;
        left: 0;
        top: 50%;
    }
}