#accordion-card{
    margin-bottom: 40px;
    .card{
        border: none;
        position: relative;
        .plus{
            &::before{
                content: '';
                background-image: url(../images/plus-1.png);
                position: absolute;
                right: 20px;
                top: 30px;
                width: 27px;
                height: 24px;
                background-repeat: no-repeat;
                z-index: 999;
            }
        }
        .minus{
            &::before{
                content: '';
                background-image: url(../images/minus-2.png);
                position: absolute;
                right: 20px;
                top: 30px;
                width: 27px;
                height: 24px;
                background-repeat: no-repeat;
            }
        }
        &:focus{
            &::before{
                content: '';
                background-image: url(../images/minus-2.png);
                position: absolute;
                right: 20px;
                top: 20px;
                width: 27px;
                height: 24px;
                background-repeat: no-repeat;
            }
        }
        .card-header{
            background: #FFFFFF;
            box-shadow: 0px 4px 12px rgba(85, 88, 92, 0.1);
            border-radius: 6px;
            border: none;
            margin: 10px 6px;
            z-index: 99;
            button{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #0E1017;
                text-decoration: none;
            }
        }
        .collapse{
            background: #FAF4EE;
            border-radius: 6px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0 6px;
            margin-top: -10px;
        }
    }
}